<section data-section-id="{{ section.id }}" data-section-type="account">
  <div class="container container--flush">
    <div class="page__sub-header">
      {%- render 'ls-customer-breadcrumbs' -%}
    </div>

    <div class="layout">
      {%- render 'ls-customer-main-nav' mobile_toggle_label: 'customer.general.my_account' -%}

      <div class="layout__section">

        {%- unless customer.metafields.sap.company_name -%}
          <div class="card card--highlight hidden-lap-and-up">
            <div class="card__section card__section--centered card__section--giga-narrow">
              {%- render 'ls-customer-profile-form', id: 'ls-customer-profile-body', layout: 'inline' -%}
            </div>
          </div>
        {%- endunless -%}

        <div class="card">
          <div class="{% if customer.orders.size == 0 %}card__section card__section--tight{% else %}card__header card__header--tight{% endif %}">
            <h1 class="heading h1">{{ 'customer.general.orders' | t }} {% if customer.orders.size > 0 %}({{ customer.orders.size }}){% endif %}</h1>
          </div>

          {%- if customer.orders.size == 0 -%}
            <div class="card__section">
              <div class="empty-state empty-state--extra-tight">
                <div class="empty-state__icon">
                  {%- render 'icon', icon: 'package' -%}
                  <span class="empty-state__count">0</span>
                </div>

                <p class="empty-state__icon-description">{{ 'customer.general.no_orders' | t }}</p>

                {%- if section.settings.url != blank -%}
                  <div class="empty-state__button-container">
                    <a href="{{ section.settings.no_orders_url }}" class="empty-state__button button button--primary">{{ 'customer.general.no_orders_button' | t }}</a>
                  </div>
                {%- endif -%}
              </div>
            </div>
          {%- else -%}
            {%- paginate customer.orders by 8 -%}
              <div class="table-wrapper">
                <table class="table table--loose">
                  <thead>
                    <tr>
                      <th>{{ 'customer.order.order' | t }}</th>
                      <th>{{ 'customer.order.date' | t }}</th>
                      <th>{{ 'customer.order.payment_status' | t }}</th>
                      <th>{{ 'customer.order.fulfillment_status' | t }}</th>
                      <th class="table__cell--right">{{ 'customer.order.total' | t }}</th>
                    </tr>
                  </thead>

                  <tbody>
                    {%- for order in customer.orders -%}
                      <tr>
                        <td><a href="{{ order.customer_url }}" class="link link--accented">{{ order.name }}</a></td>
                        <td>{{ order.created_at | date: format: 'month_day_year' }}</td>
                        <td>{{ order.financial_status_label }}</td>
                        <td>{{ order.fulfillment_status_label }}</td>
                        <td class="table__cell--right">{{ order.total_price | money }}</td>
                      </tr>
                    {%- endfor -%}
                  </tbody>
                </table>
              </div>

              {%- render 'pagination', paginate: paginate -%}
            {%- endpaginate -%}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Account",
  "settings": [
    {
      "type": "header",
      "content": "No Order History"
    },
    {
      "type": "url",
      "id": "no_orders_url",
      "label": "No Orders Link"
    }
  ]
}
{% endschema %}